<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= session[:nombre] %> <%= session[:apellido] %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a <%= link_to "Salir", :controller => "login", :action => "destroy"%></a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

<!-- Main component for a primary marketing message or call to action --> 
        <div class="jumbotron"> 
            <center> 
                <hr>
		<h2>Bienvenido <%= session[:nombre] %> </h1>
                <hr>
                <hr>
                <p>
                <a class="btn btn-lg btn-primary" id="aceptarsolicitud" href=" ../solicitudes_pendientes_jefe_disenador" role="button">Aceptar/rechazar 
                         solicitud</a> 
             </p>
             
            <p>
                <a class="btn btn-lg btn-primary" id="administradorVerSol" href="/solicitudes_disenador" role="button">Ver Solicitudes</a> 
            </p> 
            <p>
	       <a class="btn btn-lg btn-primary" id="administrarCu" href="index_disenador" role="button">Ver vendedores</a>
             </p>
            <p>
	       <a class="btn btn-lg btn-primary" id="administrartelas" href="telas" role="button">Telas</a>
             </p>
            <p> <%= image_tag "disenador.png", width:200, height:160 %> </p> 
            </center> </div>

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  
